<h1>Create A Madlib!</h1>


<h2> <%=@title%> </h2>

<%= form_tag(madlibs_path) do%>
    
    <%= hidden_field_tag :template_index, @index%>

    <% @blanks.each do |blank| %>
        <%= label_tag 'pos', blank %>
        <%= text_field_tag 'blanks[]' %>
        <br>
    <%end%>
    <br>
    <%= submit_tag "Generate Madlib!"%>
<%end%>