<h1>Welcome to <%= this_user? ? 'your' : "#{@user.to_name}'s" %> profile page, <%= current_user.first_name %>!</h1>
<hr class="top">

<h2><%= this_user? ? "Your" : "#{@user.first_name}'s" %> favorites: </h2>

<% if @madlibs.empty? %>
  <h5>No favorites yet! Get to work! </h5>
<% else%>
  <table>
    <% @madlibs.each do |madlib| %>
      <tr>
        <td><%= link_to madlib.title, madlib_path(madlib) %></td>
      </tr>
    <% end %>
    <tr>
        <td><%= button_to "See All Favorites", user_favorites_path(current_user), method: :get %></td>
      </tr>
  </table>

  
  <br>
<%end%>

<hr class="body">

<% if this_user?%>
  <h2> Your recent orders: </h2>

  <%if @orders.empty? %>
    <h5>No orders yet! Buy some stuff! </h5>
  <%else%>

    <ol>
    <% #@trinket_orders.each_with_index do |t_o, index| %>
    <% @orders.each do |order| %>
      <li>#<%= link_to order.number , order_path(order) %></li>
        <ul>
          <% order.trinkets.each do |trinket| %>
            <li><%= trinket.product_type%> <%= "with #{trinket.madlib.title}" unless trinket.favorite.nil?%> </li>
          <%end%>
        </ul>
    
    <% end %>
    </ol>

    <table>
      <% @orders.each do |order| %>
        <tr>
          <td class="mini"> #<%= link_to order.number , order_path(order) %></td>
          <td class="maxi"> Placed on <%= order.created_at.strftime("%m/%d/%y") %></td>
        </tr>
        <% order.trinkets.each do |trinket| %>
          <tr>
            <td class="mini"> - </td>
            <td class="maxi"><%= trinket.product_type%> with <%= trinket.madlib.title%> </td>
          <tr>
        <%end%>
      <% end %> 
    <table>

    <br>
    <br>

    <%= button_to "See All Orders", orders_path, method: :get %>
    <%= button_to "See All Trinkets", user_trinkets_path(@user), method: :get %>

  <%end%>
  <hr class="body">

  <br>
  <%= button_to "Close Account", {controller: :users, action: 'destroy', id: @user.id}, method: :delete unless !this_user?%><br>
  <%= button_to "Edit Profile", edit_user_path, method: :get %>
<%end%>

<br><br>



